body,
html,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.app-container {
    display: flex;
    width: 100%;
    height: 100%;

}

#canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: all;
    touch-action: auto;
    position: fixed;


}


.text_main {
    height: 50%;
    width: 100%;
    margin: 0px;
    position: absolute;
    top: 50%;
    transition: top 0.5s ease-in-out,
        background-color 1s ease-in-out;
}

.text_main.visible {
    top: 50%;


}

.text_main.hidden {
    top: 100%;
}


.text {
    background-color: rgba(256, 256, 256, 0.9);
    height: 100%;
    width: 100%;
    margin: 0px;
    position: absolute;
    top: 50%;



    /* display: flex;
    justify-content: center; */

    transition: right 0.5s ease, top 0.5s ease-in-out,
        background-color 1s ease-in-out;
    /* pointer-events: auto; */
    z-index: 1;
    font-size: 25px;
    overflow-x: hidden;
    overflow-y: scroll;


}

.text.visible {
    top: 0%;


}

.text.hidden {
    top: 100%;
}

.text_container {
    position: absolute;
    width: 100%;
    margin-left: 5%;
    left: 100%;
    transition: left 0.5s;
}

.text_container.true {
    left: 0%;
}

.text_container.false {
    left: 200%;
    transition-duration: 0s;
}

.text_container.hidden {
    left: 200%;
    transition-duration: 0.5s;
}





.reset {
    position: relative;
    /* left: -20px; */
    /* top: calc(50% - 45px); */
    top: -45px;
    left: 0;
    width: 45px;
    /* ボタンの幅 */
    height: 45px;
    z-index: 2;

    /* ボタンの高さ */
    background-color: rgba(240, 220, 200, 0.8);
    /* 背景色 */
    color: black;
    /* テキスト色 */
    font-size: 40px;
    /* フォントサイズ */
    line-height: 30px;
    /* ラインの高さ */
    text-align: center;
    /* テキストを中央揃え */
    cursor: pointer;
    /* カーソルをポインターに */
    border: none;
    /* 枠線なし */
    outline: none;
    /* アウトラインなし */
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.5s ease;
    /* トランジションを追加 */
}

.text_main.hidden .reset {
    display: block;
    /* displayをnoneからblockに変更 */
    opacity: 0;
    /* 隠れている間は不透明度を0に */
}

.text_main.visible .reset {
    opacity: 1;
}

.reset:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* ホバー時の背景色を暗くする */
    color: white;
    /* ホバー時のテキスト色を白にする */
}

.main_header {
    font-size: 25px;
    /* padding-bottom: 5px; */
    line-height: 0.3;
}

.header {
    font-size: 20px;
    line-height: 0.3;
}

section {
    margin-bottom: 40px;
}

.content {
    position: relative;
    font-size: 15px;
    /* margin-left: 50%; */
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-right: 20%; */
}

.content>div {
    margin-bottom: 10px;
}


@media(min-width:800px) {

    .text {
        height: 100%;
        width: 100%;
        min-width: 400px;
        margin: 0px;
        position: absolute;
        right: 0%;

        /* display: flex;
        justify-content: center; */

        transition: right 0.5s ease;
        /* pointer-events: auto; */

        transition: right 0.5s ease-in-out;


    }

    .text.visible {
        top: 0%;


    }

    .text.hidden {
        top: 0%;
        right: -100%
    }


    .text_main {
        height: 100%;
        width: 25%;
        min-width: 400px;
        margin: 0px;
        position: absolute;
        right: 0%;

        /* display: flex;
        justify-content: center; */

        transition: right 0.5s ease;
        /* pointer-events: auto; */

        transition: right 0.5s ease-in-out;


    }

    .text_main.visible {
        top: 0%;


    }

    .text_main.hidden {
        top: 0%;
        right: -100%
    }

    .reset {
        /* left: -20px; */
        top: 0%;
        left: -45px;
        width: 45px;
        /* max-width: 550px; */
        /* ボタンの幅 */
        height: 45px;
        /* clip-path: inset(0 33px 0 0px); */

    }

}