body,
html,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-container {
    display: flex;
    width: 100%;
    height: 100%;
}

#canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    touch-action: none;
}

.text {
    background-color: gray;
    padding: 10px;
    margin-right: 20px;
    position: fixed;
    right: -100%;
    /* 初期位置を画面外に設定 */
    transition: right 0.5s ease;
    pointer-events: auto;
    z-index: 1;
}

.text.visible {
    right: 0;
    /* 可視状態のときは右端から表示 */
}

.text.hidden {
    right: -100%;
    /* 非表示状態のときは画面外へ */
}